/* Main style-scheme */

body {
    background: rgb(120, 94, 67) no-repeat 100%  100%;
    font-family:Arial, Helvetica, sans-serif;
} 

p, span, div {
	color: #666;
}

.bg_container {
	top: 100px;
	left: 50%;
	margin-left: -500px;
	position: absolute;
	width: 1000px;
	height: 510px;
	background: #333333;
	opacity: 0.2;
	z-index: -1;
}

.main_container {
	margin: 0 auto;
}

.menu li {
    display:inline;
    list-style-type: none;
    font-size: 20px;
}

.menu li.separator {
	margin: 0 10px;
}

.logo {
	position: absolute;
	z-index: 2;
	margin-left: -470px;
	left: 50%;
	top: 10px;
	color: rgb(227, 214, 186);
	font-size: 40px;
	font-family: "adelle-1","adelle-2", Times, serif;
}

.menu {
	position: absolute;
	margin-left: 250px;
	left: 50%;
	top: 10px;
	color: rgb(227, 214, 186);
	font-size: 25px;
}

.top {
	margin: 0 auto;
	margin-top: 110px;
	width: 980px;
	height: 40px;
	background-color: rgb(227, 214, 186);
	font-size: 18px;
}

.middle {
	margin: 0 auto;
	padding-top: 30px;
	width: 980px;
	height: 420px;
	background-color: white;
}

.bottom {
	text-align: center;
	width: 980px;
	margin: 0 auto;	
	margin-top: 50px;
	margin-bottom: 20px;
	color: rgb(227, 214, 186);;
}

#balance_text {
	position: absolute;
	height: 40px;
	margin-top: 10px;
	text-align: right;
	width: 960px;
}

#chart {
	width: 500px;
	margin-top: 20px;
	margin-left: 50px;
	margin-right: 20px;
	float: left;
}

select[name="currency_pair_selector"] {
	margin-left: 70px;
	margin-right: 300px;
}

select[name="investiment_selector"] {
	margin-right: 100px;
}

select[name="period_selector"] {
/*	margin-left: 50px;
*/}

#controls {
	margin: 0 auto;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 80px;
	overflow: hidden;
	width: 100px;
	float: left;
}

#button_call {
	text-align: center;
}

#current_value {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-weight: bold;
}

#button_put {
	text-align: center;
}

.vertical_separator {
	margin: 50px 0 0 40px;
	height: 230px;
	width: 2px;
	overflow: hidden;
	background-color: rgb(227, 214, 186);
	float: left;
}

.launch_block {
	margin: 0 auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 40px;
	overflow: hidden;
	width: 150px;
	float: left;
	text-align: center;
	font-size: 12px;
}

#payout_percent {
	color: #AFBAC5;
	font-size: 69px;
	margin-top: 0px;
	letter-spacing: -7px;
}

#payout_return {
	color: #666;
	font-size: 24px;
	text-align: center;
	line-height: 24px;
	margin-top: -60px;
}

#button_start {
	color: white;
	font-family: arial;
	font-size: 18px;
	font-weight: normal;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
}

#potential_payout {
	font-weight: bold;
}

.call {
	color: RGB(98, 134, 183);
}

.put {
	color: RGB(143, 33, 80);
}

.zero {
	color: gray;
}

.bg_call {
	background-color: RGB(98, 134, 183);
}

.bg_put {
	background-color: RGB(143, 33, 80);
}

.bg_zero {
	background-color: #AFBAC5;
}

.start_clickable {
	cursor: pointer;
}

.call_clickable {
	cursor: pointer;
}

.put_clickable {
	cursor: pointer;
}

#time_left {
	margin-top: 10px;
	font-size: 12px;
	font-weight: bold;
}

#user_balance {
	font-weight: bold;
}
